<template>
	<div>
		<b-row class="mt-3">
			<b-col class="text-right">
				<b-button @click="addCar()" variant="dark" class="mb-2">
					<b-icon icon="plus-circle" aria-hidden="true"></b-icon> เพิ่มข้อมูล
				</b-button>
			</b-col>
		</b-row>
		<b-modal
			id="modal-cars"
			ref="modalCars"
			title="ข้อมูลรถ"
			hide-footer
			@show="showModal"
			@hidden="resetModal"
			@ok="handleOk"
		>
			<b-form @submit.stop.prevent="submit()" @reset.stop.prevent="reset()">
				<b-row>
					<b-col>
						<b-form-group id="form-group-make" label="ยี่ห้อ" label-for="make">
							<b-form-input
								type="text"
								id="make"
								v-model="form.make"
								:state="validateMake"
								autofocus
								v-on:keypress="isLetter($event)"
							></b-form-input>
							<b-form-invalid-feedback :state="validateMake">
								ต้องมีความยาวอย่างน้อย 3 ตัวอักษร
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group id="form-group-model" label="รุ่น" label-for="model">
							<b-form-input
								type="text"
								id="model"
								v-model="form.model"
								:state="validateModel"
								v-on:keypress="isLetter($event)"
							></b-form-input>
							<b-form-invalid-feedback :state="validateModel">
								รุ่นต้องมีความยาวอย่างน้อย 3 ตัวอักษร
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col>
						<b-form-group
							id="form-group-type"
							label="ประเภทรถ"
							label-for="type"
						>
							<b-form-select
								type="select"
								id="type"
								v-model="form.type"
								:state="validateType"
								:options="types"
								value-field="form.type"
								text-field="form.type"
							></b-form-select>
							<b-form-invalid-feedback :state="validateType">
								ประเภทรถต้องห้ามว่าง
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group
							id="form-group-transmission"
							label="ระบบเกียร์"
							label-for="transmission"
						>
							<b-form-select
								type="select"
								id="transmission"
								v-model="form.transmission"
								:state="validateGear"
								:options="transmissions"
								value-field="form.transmission"
								text-field="form.transmission"
							></b-form-select>
							<b-form-invalid-feedback :state="validateGear">
								ระบบเกียร์ต้องห้ามว่าง
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col>
						<b-form-group id="form-group-color" label="สี" label-for="color">
							<b-form-input
								type="text"
								id="color"
								v-model="form.color"
								:state="validateColor"
								v-on:keypress="isLetterCha($event)"
							></b-form-input>
							<b-form-invalid-feedback :state="validateColor">
								สีต้องมีความยาวมากกว่าหรือเท่ากับ 3 ตัวอักษร
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group
							id="form-group-year"
							label="ปีที่ผลิต (ค.ศ.)"
							label-for="year"
						>
							<b-form-input
								type="text"
								id="year"
								v-model="form.year"
								:state="validateYear"
								v-on:keypress="isLetterNum($event)"
							></b-form-input>
							<b-form-invalid-feedback :state="validateYear">
								ปีที่ผลิตต้องระบุเป็นตัวเลข 4 หลัก
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col>
						<b-form-group id="form-group-miles" label="ไมล์" label-for="miles">
							<b-form-input
								type="number"
								id="miles"
								v-model="form.miles"
								:state="validateMiles"
								v-on:keypress="isLetterNum($event)"
							></b-form-input>
							<b-form-invalid-feedback :state="validateMiles">
								ไมล์ต้องมากกว่าหรือเท่ากับ 0 ไมล์
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group
							id="form-group-price"
							label="ราคาสินค้า"
							label-for="price"
						>
							<b-form-input
								type="number"
								id="price"
								v-model="form.price"
								:state="validatePrice"
								v-on:keypress="isLetterNum($event)"
							></b-form-input>
							<b-form-invalid-feedback :state="validatePrice">
								ราคาสินค้าต้องมากกว่า 0 บาท
							</b-form-invalid-feedback>
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col class="text-right">
						<button
							type="button"
							class="btn btn-light mr-2"
							@click="hideModal"
						>
							ยกเลิก
						</button>
						<button
							id="requestOTP"
							ref="requestOTPBtn"
							:disabled="disableBtn"
							type="button"
							class="btn btn-success"
							@click="handleOk"
						>
							ยืนยัน
						</button>
					</b-col>
				</b-row>
			</b-form>
		</b-modal>
	</div>
</template>
<script>
import { isLetterNum } from "../utils/inputRegxUtil";
import { isLetterCha } from "../utils/inputRegxUtil";
import { isLetter } from "../utils/inputRegxUtil";
export default {
	props: {
		car: Object,
	},
	data() {
		return {
			form: {
				id: "",
				make: "",
				model: "",
				type: "",
				transmission: "",
				color: "",
				year: "",
				miles: 0.0,
				price: 0.0,
			},
			types: [
				// { text: "ระบุประเภท", value: null },
				"Sedan",
				"Coupe",
				"Sport",
				"SUV",
				"Pickup Truck",
				"Hatchaback",
				"Convertible",
				"Micro",
				"Universal",
				"Liftback",
				"Cabriolet",
				"Roadster",
				"Targe",
				"Limousine",
				"Muscle car",
				"Super car",
				"Crossover",
			],
			transmissions: [
				// { text: "ระบุระบบเกียร์", value: null },
				"เกียร์อัตโนมัติ",
				"เกียร์ธรรมดา",
			],
			isAddCar: false,
			searchData: "",
			showErrYear: false,
		};
	},
	computed: {
		validateMake() {
			let makeLen = this.form.make.length;
			if (makeLen >= 3) {
				return true;
			} else if (makeLen === 0) {
				return null;
			} else {
				return false;
			}
		},
		validateModel() {
			let modelLen = this.form.model.length;
			if (modelLen >= 1) {
				return true;
			} else if (modelLen === 0) {
				return null;
			} else {
				return false;
			}
		},
		validateMiles() {
			return this.form.miles >= 0 ? true : null;
		},
		validateType() {
			return this.form.type !== "" ? true : null;
		},
		validateGear() {
			return this.form.transmission !== "" ? true : null;
		},
		validateColor() {
			return this.form.color.length >= 3 ? true : null;
		},
		validateYear() {
			let yearLen = this.form.year.length;
			if (yearLen === 4) {
				return true;
			} else if (yearLen === 0) {
				return null;
			} else {
				return false;
			}
		},
		validatePrice() {
			return this.form.price > 0 ? true : null;
		},
		validateForm() {
			return (
				this.validateMake &&
				this.validateModel &&
				this.validateMiles &&
				this.validatePrice &&
				this.validateYear &&
				this.validateGear &&
				this.validateType
			);
		},
		disableBtn() {
			if (this.validateForm === null || this.validateForm === false) {
				return true
			}
			return false
		}
	},
	methods: {
		isLetterNum,
		isLetterCha,
		isLetter,
		addCar() {
			this.isAddCar = true;
			this.$nextTick(() => {
				this.show();
				this.isAddCar = false;
			});
		},
		show() {
			this.$refs.modalCars.show();
		},
		submit() {
			const car = JSON.parse(JSON.stringify(this.form));
			car.miles = parseFloat(car.miles);
			car.price = parseFloat(car.price);
			this.$emit("save", car);
			this.reset();
		},
		reset() {
			this.form = {
				id: "",
				make: "",
				model: "",
				type: "",
				transmission: "",
				color: "",
				year: "",
				miles: 0.0,
				price: 0.0,
			};
		},
		resetModal() {
			this.reset();
		},
		handleOk(evt) {
			evt.preventDefault();
			this.submit();
			this.$nextTick(() => {
				this.$bvModal.hide("modal-cars");
			});
		},
		showModal() {
			if (this.isAddCar) {
				this.reset();
			} else {
				this.form.id = this.car.id;
				this.form.make = this.car.make;
				this.form.model = this.car.model;
				this.form.type = this.car.type;
				this.form.transmission = this.car.transmission;
				this.form.color = this.car.color;
				this.form.year = this.car.year;
				this.form.miles = this.car.miles;
				this.form.price = this.car.price;
			}
		},
		hideModal() {
			this.$refs.modalCars.hide("modal-cars");
		},

	},
};
</script>
<style>
.text-helper {
	font-size: 0.875em;
	margin-top: 0.25rem;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.page-link {
	color: #6c757d;
}
</style>
