<template>
	<div>
		<NavBar></NavBar>
		<b-container>
			<div class="absolute">
				<!-- เริ่มฟอร์ม Add ข้อมูล -->
				<CarForm :car="selectedItem" ref="carForm" @save="addCar"></CarForm>
				<!-- จบฟอร์ม Add ข้อมูล -->

				<!-- เริ่ม Field Seach ข้อมูล -->
				<b-nav-form>
					<b-form-input
						v-model="searchData"
						size="sm"
						class="mr-sm-2"
						placeholder="ค้นหา"
					></b-form-input>
					<b-button @click="getCars()" size="sm" class="my-2 my-sm-0"
						>ค้นหา</b-button
					>
				</b-nav-form>
				<!-- จบ Field Seach ข้อมูล -->
			</div>
			<!-- เริ่ม Table แสดง item -->
			<b-table
				responsive
				striped
				hover
				show-empty
				id="dataTable"
				:per-page="15"
				:current-page="currentPage"
				:items="cars"
				:fields="fields"
				class="mt-3"
			>
				<template #empty>
					<div align="center">
						<label>ไม่พบข้อมูล</label>
					</div>
				</template>
				<template #cell(index)="data">
					{{ data.index + 1 }}
				</template>
				<template #cell(make-model)="{ item }">
					<p class="text-info text-left">{{ item.make }} {{ item.model }}</p>
				</template>
				<template #cell(miles)="{ item }">
					<p class="text-right">{{ item.miles.toLocaleString() }}</p>
				</template>
				<template #cell(price)="{ item }">
					<p class="text-right">{{ item.price.toLocaleString() }}</p>
				</template>
				<template #cell(action)="{ item }">
					<b-button-toolbar>
						<b-button-group class="ml-4">
							<b-button @click="editCar(item)" title="Edit" size="sm">
								<b-icon icon="pencil" aria-hidden="true"></b-icon>
							</b-button>
							<b-button
								@click="showMsgBoxDel(item)"
								title="Delete"
								variant="danger"
								size="sm"
							>
								<b-icon icon="trash" aria-hidden="true"></b-icon>
							</b-button>
						</b-button-group>
					</b-button-toolbar>
				</template>
			</b-table>
			<!-- จบ Table แสดง item -->
			<div class="mt-3">
				<b-pagination
					v-model="currentPage"
					:total-rows="rows"
					:per-page="15"
					aria-controls="dataTable"
					align="center"
				></b-pagination>
			</div>
		</b-container>
	</div>
</template>

<script>
import CarForm from "../views/carForm.vue";
import NavBar from "../components/NavBar.vue";

export default {
	name: "carPage",
	components: {
		CarForm,
		NavBar,
	},
	data() {
		return {
			fields: [
				{ key: "index", label: "ลำดับ" },
				{ key: "id", label: "ไอดี", sortable: true },
				{ key: "make-model", label: "ยี่ห้อ/รุ่น", sortable: true },
				{ key: "type", label: "ประเภท", sortable: true },
				{ key: "transmission", label: "ระบบเกียร์", sortable: true },
				{ key: "color", label: "สี", sortable: true },
				{ key: "year", label: "ปี", sortable: true },
				{ key: "miles", label: "ไมล์ (กม.)", sortable: true },
				{ key: "price", label: "ราคา (บาท)", sortable: true },
				{ key: "action", label: "การดำเนินการ" },
			],
			cars: [],
			searchData: "",
			show: false,
			currentPage: 1,
			addorcancel: "Add",
			new: 0, //new=0 edit=1
			form: {
				id: "",
				make: "",
				model: "",
				type: "",
				transmission: "",
				color: "",
				year: "",
				miles: 0.0,
				price: 0.0,
				editCar: false,
			},
			selectedItem: null,
		};
	},
	methods: {
		async addCar(car) {
			if (car.id === "") {
				//new
				let { error, result } = await this.$api.CarPage.addCar(car);
				if (result !== null) {
					this.getCars();
				} else if (error !== null) {
					console.log("error = ", error);
				}
			} else {
				//edit
				let { error, result } = await this.$api.CarPage.editCar(car, car.id);
				if (result != null) {
					this.getCars();
				} else if (error !== null) {
					console.log("error = ", error);
				}
			}
		},
		editCar(item) {
			this.selectedItem = JSON.parse(JSON.stringify(item));
			this.$nextTick(() => {
				this.$refs.carForm.show();
			});
		},
		async getCars() {
			if( this.searchString ==""){
				let { error, result } = await this.$api.CarPage.getCars();
			if (result !== null) {
				this.cars = result.reverse();
			} else if (error !== null) {
				console.log(error);
			}
			}else{
				let { error, result } = await this.$api.CarPage.searchCar(
				this.searchData
			);
			if (result !== null) {
				this.cars = result.reverse();
			} else if (error !== null) {
				console.log(error);
			}
			}
		},
		async deleteCar(item) {
			if (this.form.id !== item.id) {
				let { error, result } = await this.$api.CarPage.deleteCar(item.id);
				if (result !== null) {
					this.getCars();
				} else if (error !== null) {
					console.log(error);
				}
			}
		},
		showMsgBoxDel(item) {
			this.$bvModal
				.msgBoxConfirm("คุณแน่ใจว่าจะลบรายการนี้ใช่ไหม ?", {
					title: "ยืนยันการลบ",
					size: "sm",
					buttonSize: "sm",
					okVariant: "danger",
					okTitle: "ยืนยัน",
					cancelTitle: "ยกเลิก",
					footerClass: "p-2",
					hideHeaderClose: false,
					centered: true,
				})
				.then((value) => {
					if (value) {
						this.deleteCar(item);
					}
				})
				.catch((err) => {
					console.log(err);
				});
		},
	},
	mounted() {
		this.getCars();
	},
	computed: {
		rows() {
			return this.cars.length;
		},
	},
};
</script>
<style>
</style>
