<template>
	<div>
		<b-navbar toggleable="lg" type="dark" variant="dark">
			<b-navbar-brand href="#">CarDealer</b-navbar-brand>
			<b-navbar-nav class="ml-auto">
			</b-navbar-nav>
		</b-navbar>
	</div>
</template>
<script></script>
<style></style>
